*{
    margin:0;
}
body{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
}
.etch-wrapper{
    display:inline-flex;
    position: relative;
    margin:0 auto auto auto;
    height:80vh;
    width:55vw;
    border:10px solid rgb(255, 166, 0);
}
.etch{
    display: grid;
    width:100%;
    height:100%;
    
}
.title{
    display: inline-flex;
    justify-content: center;
    margin:auto auto 0 auto;
    color:rgb(255,166,0);
    height:fit-content;
}
.reset, .resize, .reset-button{
    background-color: rgb(243, 243, 243);
    border:1px solid lightgrey;
    margin:0 auto auto auto;
}
